	

		<!-- Main -->
			<div id="main">
			
				<!-- Intro -->
					<section id="top" class="one">
						<div class="container">

							<a href="#" class="image featured"><img src="images/大工软院.jpg" alt="" /></a>

							<header>
								<h2 class="alt">Hello, I'm <strong>Shuailing Yang</strong>. 
							</header>
							
							
							<p>I am currently enrolled at Dalian University of Technology, majoring in Software Engineering.<br />
				I'm an <b>I'm a graduate student now</b>.</p>

							<footer>
								<a href="./YSL_Resume.pdf" class="button scrolly">View my Resume</a>
							</footer>

						</div>
					</section>
					
					<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/大工图书馆.jpg" alt="" /></a>
							
						<p> 
						我现在研究的方向是声源定位.
</p>	
				

						</div>
					</section>
					
					
					
				<!-- Portfolio -->
					<section id="portfolio" class="three">
						<div class="container">
					
							<header>
								<h2>Current Work</h2>
							</header>
							<a href="#" class="image featured"><img src="images/computer.jpg" alt="" /></a>
							<p>Currently I am working on Malware Analysis and researching various threat campaigns. More can be found at <a href="http://yangshuailing.github.io">Blog.Yang SL</a>.</p>
						
							
						</div>
					</section>

				
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>
					<a href="#" class="image featured"><img src="images/notebook.jpg" alt="" /></a>
							<p>You can reach me at <br />
							
				<a href="mailto:yangsl1008@gmail.com">mail@gmail.com</a> <a href="http://kevinlaw.info/Ysllawpub.txt">[PGP]</a><br />
				<a href="http://weibo.com/yangsl1008/home?wvr=5"> Sina</a> <br />
				<a href="http://yangshuailing.github.io">Github</a> <br />
				  <br />
							</p>
							<!--
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<a href="#" class="button submit">Send Message</a>
									</div>
								</div>
							</form> -->

						</div>
					</section>
			
			</div>
