	

		<!-- Main -->
			<div id="main">
			<div id=divMenu style="Z-INDEX: 1; RIGHT: 1px;   POSITION: absolute;  ">
              <embed src="swf/clock.swf" quality=high width="750" height="210" wmode="transparent" align="left"></embed> 
			  
                    </div>
			
			
			
			
				<!-- Intro -->
					<section id="top" class="one">
						<div class="container">

							<a href="#" class="image featured"><img src="images/大工软院.jpg" alt="" /></a>
							

							<header>
								<h2 class="alt"> <strong>欢迎来到我的主页</strong>. 
							</header>
							
							
							<p>我是大连理工大学研究生<br />
				我的专业是软件工程， <b>下面是我的简历</b>.</p>

							<footer>
								<a href="./YSL_Resume.pdf" class="button scrolly">我的简历</a>
							</footer>

						</div>
					</section>
					
					<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/大工图书馆.jpg" alt="" /></a>
							
						<p> 
						我现在研究的方向是声源定位.
						
</p>	
				

						</div>
					</section>
					
					
					
				<!-- Portfolio -->
					<section id="portfolio" class="three">
						<div align="center" class="container">
					
							<header>
								<h2>Current Work</h2>
							</header>
							<a href="#" class="image featured"><img src="images/奋斗.jpg" style="width:750px;height:500px;" alt="" /></a>
							
							<p>目前我在使用智能手机进行声源定位实测，我写的代码上传到GitHub上，详情见 <a href="https://github.com/YangShuailing">Yang SL</a>.</p>
						
							
						</div>
					</section>

				
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>
					<a href="#" class="image featured"><img src="images/connect me.jpg" alt="" /></a>
							<p>您可以联系我：<br />
							
				<a href="mailto:yangsl1008@gmail.com">yangsl1008@gmail.com</a> </a><br />
				<a href="http://weibo.com/yangsl1008/home?wvr=5"> Sina</a> <br />
				<a href="http://yangshuailing.github.io">Github</a> <br />
				  <br />
							</p>
							<!--
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<a href="#" class="button submit">Send Message</a>
									</div>
								</div>
							</form> -->

						</div>
					</section>
			
			</div>
